.main-content-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .secondary-h {
    margin-bottom: 50px;
  
    text-align: center;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }

  