:root {
    --logo-header-color: #000000;
    --h-color: #212121;
    --accent-color: #2196f3;
    --main-text-color: #757575;
    --footer-adress-transparent: rgba(255, 255, 255, 0.6);
    --backgroung-main-color: #ffffff;
    --backgroung-hero-footer: #2f303a;
    --backgroung-team: #f5f4fa;
    --font-family-main: 'roboto', 'sans-serif';
    --font-family-secondary: 'raleway', 'sans-serif';
    --icon-base-color: #afb1b8;
  }

  
